@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt_wght.woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: rgb(196, 196, 196);
  background-color: rgb(61, 84, 105);
}

.main {
  max-width: 24rem;
  text-align: center;
  background-color: #1e2227;
  border-radius: 12px;
  overflow: hidden;
  padding: 1rem;
}

.box-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.box {
  width: 8rem;
  height: 4rem;
  background-color: #556581;
  border-radius: 6px;
}

.text {
  margin-top: 1rem;
}
